/*! HTML5 Boilerplate v9.0.1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.header {
  padding: 20px 4px 10px 4px;
  background: transparent;
  font-size: x-large;
  font-weight: 800;
  text-transform: uppercase;
  color: rgb(212 212 216);
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: #d28d31
}

.nav-link {
  color: rgba(210, 141, 49, 0.8);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: normal;
  font-size: small;
}
.nav-link:hover {
  color: rgba(210, 141, 49, 1);
}

.main {
  letter-spacing: 1px;

}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.section-main {
  padding-left: 15%;
  padding-right: 15%;
  background-position: bottom;
  background-image:
    linear-gradient(to top, rgba(0,0,0,1) 5%, rgba(0,0,0,0) 50%),
    linear-gradient(to bottom, rgba(17, 21, 25, 1) 0%, rgba(0,0,0,0) 20%),
    url("../img/main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.section-main-container {
  height: 100vh;
  background-color: transparent;
}

.container-main-image {
  height: 80%;
  width: 100%;
  background-image: url("../img/main-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: 0 0 50px -12px rgb(0, 0, 0);
}

.line-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  color: rgb(212 212 216);
}

.line {
  background: linear-gradient(to left, rgb(161 161 170), rgba(0, 0, 0, 0.75));
}

.line-left {
  width: 20%;
}

.line-right {
  width: 20%;
  rotate: 180deg;
}

.line-text {
  color: rgb(161 161 170);
  text-transform: uppercase;

}

.section-main-hero {
  text-align: center;

}

.hero-title {
  color: rgb(212 212 216);
  font-weight: 700;
  margin: 0;
}

.section-newsletter {
  padding: 4rem 6rem 6rem 6rem;
  text-align: center;
  background-color: rgba(212, 212, 216, 0.65);
}

.input {
  padding: 0.5rem;
  margin: 0.5rem 0;
  border: 1px solid rgb(161 161 170);
  border-radius: 5px;
}

.input:focus {
  outline: none;
  border-color: #d28d31;
}

#email-address {
  width: 26%;
}

.submit-button {
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  border: 0;
  border-radius: 5px;
  background-color: #d28d31;

  color: white;
  font-weight: 700;
  cursor: pointer;
}

.submit-button:hover {
  background-color: rgba(210, 141, 49, 0.8);
}

